.ga-dialog, .ga-dialog * {
  color: var(--ga-foreground);
  box-sizing: border-box;
}

.ga-dialog {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  animation: ga-slide-in-bottom 1s ease;
  border: 0;
  border-radius: 10px 10px 0px 0px;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background: var(--ga-background);
  z-index: 2;
}

.ga-dialog-text {
  flex-grow: 1;
  margin: 10px;
}

.ga-dialog-button {
  min-width: 100px;
  border: 1px solid var(--ga-foreground);
  background-color: var(--ga-background);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  margin: 10px;
  text-align: center;
  transition: 1s ease background-color;
}

.ga-dialog-accept:hover {
  background-color: var(--ga-accept);
}

.ga-dialog-decline:hover {
  background-color: var(--ga-decline);
}

@keyframes ga-slide-in-bottom {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0px);
  }
}

* {
  --ga-background: #1a1e1c;
  --ga-foreground: #ffffff;
  --ga-accept: #308732;
  --ga-decline: #d32f2f;
}
